@import '@core/scss/base/pages/ui-feather.scss';


// * {outline: none !important;}
// textarea:focus, input:focus {outline: none !important;}
// a {color: rgb(30, 27, 27); font-family: arial; text-decoration: none;}
// a:hover {color: rgb(30, 27, 27); font-family: arial; text-decoration: none;}
// a:visited {color: rgb(30, 27, 27); font-family: arial; text-decoration: none;}

