<div class="divider my-2">
  <div class="divider-text">Contáctanos</div>
</div>
<div class="auth-footer-btn d-flex justify-content-center">
  <a class="btn btn-facebook" href="https://www.facebook.com/" target="new"><i data-feather="facebook"></i></a>&nbsp;
  <a class="btn btn-twitter white" href="https://twitter.com" target="new"><i data-feather="twitter"></i></a>&nbsp;
  <a class="btn btn-google white" href="https://instagram.com" target="new"><i data-feather="instagram"></i></a>
</div>
<div class="divider my-2">
  <div class="auth-footer-btn d-flex justify-content-center">
    <div class="d-none d-lg-flex col-lg-12 justify-content-center">
      <p class="text-center mt-2">
        <small align="center"><strong>INSTITUTO POSTAL TELEGRÁFICO DE VENEZUELA</strong> <br> <strong>RIF
            G-20000043-0</strong>
          <br>
          Dirección : Avenida José Ángel Lamas, San Martín, Caracas, edificio Centro Postal Caracas, Distrito Capital
          <br>
          E-mail: <a href="mailto:tsuarez@ipostel.gob.ve@fona.gob.ve">tsuarez@ipostel.gob.ve</a>
          <br>
          Telf: <a href="Tel:02124053340">0212-405.33.40</a> / <a href="Tel:04127110800">0412-711.08.00</a> / fax: <a
            href="Tel:02124053366">0212-405.33.66</a>
        </small>
        <br>
        <small
          title="Build: {{ fechafinal | date: 'fullDate':'':'es' }} a las {{ fechafinal | date: 'h:mm a':'':'es' }}">Versión
          {{Version}} </small>
      </p>
    </div>
  </div>