<div class="card content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="card-body">
  
      <section class="users-list-wrapper">
  
        <div class="card">
          <h5 class="card-header">Filtro de búsqueda</h5>
          <div class="card-body">
            <div class="users-list-filter">
              <form>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select [items]="yearsList" [(ngModel)]="anioObligaciones" [ngModelOptions]="{standalone: true}"
                        (change)="FiltarObligacionAnio($event)" bindValue="year" bindLabel="year"
                        placeholder="Seleccione Año" autocomplete="off">
                      </ng-select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select [items]="SelectCategoriaPagos" [(ngModel)]="tipoCategoriaPago"
                        [ngModelOptions]="{standalone: true}" (change)="FiltarObligacionCategoriaPago($event)"
                        bindValue="id" bindLabel="name" placeholder="Seleccione Categoria de Pago" autocomplete="off">
                      </ng-select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-md-4">
                    <fieldset class="form-group">
                      <ng-select [items]="SelectTipoPagos" [(ngModel)]="tipoPago" [ngModelOptions]="{standalone: true}"
                        bindLabel="name" bindValue="id" placeholder="Seleccionar Tipo de Pago"
                        (change)="FiltarObligacionStatusTipoPago($event)"></ng-select>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
  
  
        <div class="card">
          <div class="row">
            <div class="col-md-3 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center">Mostrar
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  Registros</label>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <button (click)="ModalCrearObligacion(ModalObligaciones)" class="btn btn-success">Generar Obligación</button>
              </div>
            </div>
            <div class="col-md-3 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <button (click)="LimpiarFiltro()" class="btn btn-primary">Limpiar Filtro</button>
              </div>
            </div>
            <div class="col-md-3 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                    name="searchValue" type="search" class="form-control ml-25" placeholder="Tipo de Pago"
                    (keyup)="filterUpdatePagos($event)" (search)="filterUpdatePagos($event)" /></label>
              </div>
            </div>
          </div>
  
          <ng-container *ngIf="isLoading == 0">
            <div class="loading-overlay">
              <div class="spinner-border text-success" role="status"></div>
              <div class="loading-message">Cargando datos, por favor espere...</div>
            </div>
          </ng-container>
          <ng-container *ngIf="isLoading == 2">
            <div class="loading-overlay">
              <div class="spinner-border text-danger" role="status"></div>
              <div class="loading-message">No hay registros...</div>
            </div>
          </ng-container>
  
          <ngx-datatable [rows]="rowsPagosConciliacion" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
            [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
            [selectionType]="SelectionType.checkbox" [limit]="basicSelectedOption" (activate)="onActivate($event)"
            (select)="onSelect($event)" [scrollbarH]="true">
  
            <!-- <ngx-datatable-column *ngIf="RowsLengthConciliacion >= 2" [width]="50" [sortable]="false"
              [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                    (change)="selectFn(!allRowsSelected)" id="headerChkbxRef" />
                  <label class="custom-control-label" for="headerChkbxRef"></label>
                </div>
              </ng-template> -->
  
            <!-- <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                    (change)="onCheckboxChangeFn($event)" id="rowChkbxRef{{ rowIndex }}" />
                  <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                </div>
              </ng-template>
            </ngx-datatable-column> -->
  
            <!-- <ngx-datatable-column name="Empresa" prop="nombre_empresa" [width]="200">
                    <ng-template let-nombre_empresa="value" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ nombre_empresa }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column> -->
  
            <!-- <ngx-datatable-column name="RIF" prop="rif" [width]="100">
              <ng-template let-rif="value" ngx-datatable-cell-template>
                <div>
                  <span class="font-weight-bold"> {{ rif }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column> -->
  
            <ngx-datatable-column name="Fecha" prop="fecha" [width]="50">
              <ng-template let-fecha="value" ngx-datatable-cell-template>
                <div>
                  <span class="font-weight-bold"> {{ fecha }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Tipo Pago" prop="iniciales_tipo_pagos" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="badge badge-pill" ngClass="badge-light-warning">
                  <font size="1"> {{row.nombre_tipo_pagos}} </font>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
  
            <ngx-datatable-column name="Monto Deuda" prop="monto_pagar" [width]="100">
              <ng-template let-monto_pagar="value" ngx-datatable-cell-template>
                <div>
                  <span class="font-weight-bold"> {{ monto_pagar }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="Monto Pagado" prop="monto_pc" [width]="100">
              <ng-template let-monto_pc="value" ngx-datatable-cell-template>
                <div>
                  <span class="font-weight-bold"> {{ monto_pc }}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
            <ngx-datatable-column name="STATUS" prop="status_pc" [width]="100">
              <ng-template let-status_pc="value" ngx-datatable-cell-template>
                <div *ngIf="status_pc === 4" class="badge badge-pill" ngClass="badge-light-info">
                  Pago Pendiente
                </div>
                <div *ngIf="status_pc === 0" class="badge badge-pill" ngClass="badge-light-primary">
                  Pago En Revisión
                </div>
                <div *ngIf="status_pc === 2" class="badge badge-pill" ngClass="badge-light-success">
                  Pago Aprobado
                </div>
                <div *ngIf="status_pc === 3" class="badge badge-pill" ngClass="badge-light-danger">
                  Pago Rechazado
                </div>
                <div *ngIf="status_pc === 1" class="badge badge-pill" ngClass="badge-light-warning">
                  Pago No Liquidado
                </div>
              </ng-template>
            </ngx-datatable-column>
  
  
            <ngx-datatable-column name="Accion" [width]="10" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div ngbDropdown container="body" *ngIf="row.montoReal != '0'">
                  <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                    <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                  </button>
                  <div ngbDropdownMenu>
                    <a (click)="ModalPagar(ModalPagarDeclaracion,row)" *ngIf="row.montoReal != '0' && row.status_pc == 4"
                      ngbDropdownItem><span [size]="16" [data-feather]="'credit-card'" [class]="'mr-50'"></span>Reportar
                      Pago</a>
                    <!-- <a (click)="VerDetalleSUB(UsoContrato,row)" *ngIf="!ShowTabla" ngbDropdownItem><span [size]="16"
                        [data-feather]="'eye'" [class]="'mr-50'"></span>Ver Detalle</a>
                    <a (click)="VerDetalleOPP(UsoContrato,row)" *ngIf="ShowTabla" ngbDropdownItem><span [size]="16"
                        [data-feather]="'eye'" [class]="'mr-50'"></span>Ver Detalle</a>
                    <a (click)="DescargarFactura(row)" *ngIf="row.status_pc == 2" ngbDropdownItem><span [size]="16"
                        [data-feather]="'download'" [class]="'mr-50'"></span> Descargar Planilla</a>
                        <a (click)="DescargarFactura(row)" *ngIf="row.status_pc == 4" ngbDropdownItem><span [size]="16"
                          [data-feather]="'download'" [class]="'mr-50'"></span> Preliquidación</a> -->
                    <a (click)="ModalPagarModificar(ModalPagarDeclaracion,row)"
                      *ngIf="row.status_pc != 2 && row.status_pc != 4" ngbDropdownItem><span [size]="16"
                        [data-feather]="'edit'" [class]="'mr-50'"></span> Modificar
                      Pago</a>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column>
  
          </ngx-datatable>
  
        </div>
      </section>
  
    </div>
  </div>
  
  
  
  
  <ng-template #ModalPagarDeclaracion let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">{{ title_modal }}</h5>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="col-xl-12 col-md-12 col-12">
        <!-- Header Starts -->
        <!-- <form class="form" (ngSubmit)="(formUsersRegister.form.valid)" #formUsersRegister="ngForm" class="invoice-repeater"> -->
        <form method="post" enctype="multipart/form-data" id="forma" name="forma" class="invoice-repeater">
          <input type="hidden" name="identificador" value="{{hashcontrol}}" readonly="readonly">
          <div class="row d-flex align-items-end">
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for=" itempmvp">
                  <font color="red"><strong>Monto Deuda</strong></font>
                </label>
                <input type="text" class="form-control" autocomplete="off" readonly [value]="monto_pagarX"
                  placeholder="Monto a Pagar" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for=" itempmvp">Monto a Pagar</label>
                <input type="text" class="form-control" autocomplete="off" [(ngModel)]="ActualizarPago.monto_pc"
                  [ngModelOptions]="{standalone: true}" placeholder="Ingrese Monto a Pagar" />
              </div>
            </div>
  
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for=" itempmvp">Fecha de Pago</label>
                <input type="date" class="form-control" autocomplete="off" [(ngModel)]="ActualizarPago.fecha_pc"
                  [ngModelOptions]="{standalone: true}" placeholder="Mes" />
              </div>
            </div>
  
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for=" itempmvp">Banco Emisor</label>
                <ng-select [items]="SelectBancos" [(ngModel)]="ActualizarPago.id_banco_pc"
                  [ngModelOptions]="{standalone: true}" bindValue="id_banco" bindLabel="nombre"
                  placeholder="Seleccione Entidad Banco Emisora" required autocomplete="off">
                </ng-select>
              </div>
            </div>
  
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for=" itempmvp">N# de Referencia</label>
                <input type="text" class="form-control" autocomplete="off"
                  [(ngModel)]="ActualizarPago.referencia_bancaria" [ngModelOptions]="{standalone: true}"
                  placeholder="Ingrese Numero de Referencia Bancaria" />
              </div>
            </div>
  
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="basicInputFile">Observación de Pago</label>
                <div class="custom-file">
                  <textarea class="form-control" readonly [(ngModel)]="ActualizarPago.observacion_pc"
                    [ngModelOptions]="{standalone: true}" id="basicTextarea" rows="3"
                    placeholder="Ingrese Observación de Pago"></textarea>
                </div>
              </div>
            </div>
  
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="basicInputFile">Ingrese Comprobante de Pago del Banco Emisor<strong>
                    <font color="red">(Solo formato PDF)</font>
                  </strong></label>
                <div class="">
                  <input (change)="fileSelected($event)" class="form-control" name="archivos" type="file" accept=".pdf">
                  <!-- <label class="custom-file-label" for="customFile">Seleccione Documento</label> -->
                </div>
              </div>
            </div>
  
          </div>
        </form>
      </div>
      <!-- Header Starts -->
      <!-- </div> -->
      <!-- Header Ends -->
    </div>
    <!--/ Invoice -->
    <div class="modal-footer">
      <!-- <button class="btn bg-gradient-success text-white" [disabled]="!formUsersRegister.form.valid" (click)="RegistrarTarifaNacionalAereo()">
        <span class="fa fa-plus"></span> Registrar Tarifa</button> -->
      <button type="submit" (click)="PagarRecaudacion()" rippleEffect class="btn btn-success mr-1">Reportar Pago</button>
      <!-- <button type="submit" *ngIf="ShowModificarPago == true" (click)="ModificarConciliarPagoRecaudacion()" rippleEffect
        class="btn btn-success mr-1">ModificarPago</button> -->
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cerrar
      </button>
    </div>
  </ng-template>



  <ng-template #ModalObligaciones let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">{{ title_modal }}</h5>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="col-xl-12 col-md-12 col-12">
        <!-- Header Starts -->
        <!-- <form class="form" (ngSubmit)="(formUsersRegister.form.valid)" #formUsersRegister="ngForm" class="invoice-repeater"> -->
        <form method="post" enctype="multipart/form-data" id="forma" name="forma" class="invoice-repeater">
          <input type="hidden" name="identificador" value="{{hashcontrol}}" readonly="readonly">
          <div class="row d-flex align-items-end">


            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for=" itempmvp">Tipo Obligación</label>
                <ng-select [items]="Tipo_Obligaciones" [(ngModel)]="IpagarRecaudacion.tipo_pago_pc"
                  [ngModelOptions]="{standalone: true}" bindValue="id_tipo_pagos" bindLabel="name" (change)="onSelectChange($event)"
                  placeholder="Seleccione Tipo Obligación" required autocomplete="off">
                </ng-select>
              </div>
            </div>

            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for=" itempmvp">Monto a Pagar</label>
                <input type="text" class="form-control" readonly autocomplete="off" [(ngModel)]="MontoSeleccion"
                  [ngModelOptions]="{standalone: true}" placeholder="Ingrese Monto a Pagar" />
              </div>
            </div>

            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for=" itempmvp">Fecha</label>
                <input type="text" class="form-control" readonly autocomplete="off" [(ngModel)]="IpagarRecaudacion.fecha_pc"
                  [ngModelOptions]="{standalone: true}" placeholder="Ingrese Fecha" />
              </div>
            </div>
  

  
            <div class="col-md-12 col-12">
              <div class="form-group">
                <label for="basicInputFile">Observación de Pago</label>
                <div class="custom-file">
                  <textarea class="form-control" readonly [(ngModel)]="IpagarRecaudacion.observacion_pc"
                    [ngModelOptions]="{standalone: true}" id="basicTextarea" rows="3"
                    placeholder="Ingrese Observación de Pago"></textarea>
                </div>
              </div>
            </div>
  
  
          </div>
        </form>
      </div>
    </div>
    <!--/ Invoice -->
    <div class="modal-footer">
      <button type="submit" (click)="InsertarObligacion()" rippleEffect class="btn btn-success mr-1">Generar Obligación</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cerrar
      </button>
    </div>
  </ng-template>
  
  
  <ng-template #UsoContrato let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Detalle de Recibo de Pago <strong>{{titleModal}}</strong></h5>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="col-xl-12 col-md-12 col-12">
        <!-- Header Starts -->
        <!-- <form method="post" enctype="multipart/form-data"  id="forma" name="forma"> -->
        <!-- <form class="form" method="post" enctype="multipart/form-data" id="forma" name="forma"
          (ngSubmit)="(formUsersRegister.form.valid)" #formUsersRegister="ngForm" class="invoice-repeater"> -->
        <div class="row d-flex align-items-end">
  
          <div class="col-md-10 col-12">
            <div class="form-group">
              <label for=" itempmvp">Operador Postal Privado</label>
              <input type="text" class="form-control" autocomplete="off" readonly [value]="nombreEmpresaOPP" />
            </div>
          </div>
  
          <div class="col-md-2 col-12">
            <div class="form-group">
              <label for=" itempmvp">RIF</label>
              <input type="text" class="form-control" readonly [value]="rifEmpresaOPP" autocomplete="off" />
            </div>
          </div>
  
          <table #No class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Dolares</th>
                <th scope="col">Bolivares Referencial</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ListaMantenimientoYSeguridad; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td> {{ item.iniciales_tipo_pagos }} </td>
                <td>{{ item.nombre_tipo_pagos }}</td>
                <td>{{ item.dolitar }}</td>
                <td>{{item.bolivaresx}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <font color="red">TOTAL</font>
                </th>
                <th>
                  <font color="red">{{ totalPetros }}</font>
                </th>
                <th>
                  <font color="red">{{ montoPagar }}</font>
                </th>
              </tr>
            </tfoot>
          </table>
  
          <hr>
  
          <table *ngIf="ShowTabla" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Dolares</th>
                <th scope="col">Bolivares Referencial</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let xitem of dataObligacionOPP; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td> {{ xitem.iniciales_tipo_pagos }} </td>
                <td>{{ xitem.nombre_tipo_pagos }}</td>
                <td [title]="cuanto">{{ xitem.tasa_petr }}</td>
                <td>{{xitem.bolivaresxx}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <font color="red">TOTAL</font>
                </th>
                <th>
                  <font color="red">{{ XtotalPetrosX }}</font>
                </th>
                <th>
                  <font color="red">{{ XmontoPagarX }}</font>
                </th>
              </tr>
            </tfoot>
          </table>
  
  
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for=" itempmvp">Monto</label>
              <input type="text" name="montoNO" class="form-control" autocomplete="off" readonly
                [value]="resultadoFactura" placeholder="Monto a Pagar" />
            </div>
          </div>
  
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for=" itempmvp">Fecha</label>
              <input type="text" name="fechaNO" class="form-control" readonly [value]="fechaActual" autocomplete="off"
                [(ngModel)]="fechaActualPago" [ngModelOptions]="{standalone: true}" placeholder="Mes" />
            </div>
          </div>
  
  
        </div>
        <!-- </form> -->
      </div>
      <!-- Header Starts -->
      <!-- </div> -->
      <!-- Header Ends -->
    </div>
    <!--/ Invoice -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="cerrarModal()" rippleEffect>
        Cerrar
      </button>
    </div>
  </ng-template>