<li ngbDropdown class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown"
    ><i class="ficon" data-feather="bell"></i
    ><span class="badge badge-pill badge-danger badge-up">
      <!-- {{ notifications.messages?.length + notifications.systemMessages?.length }} -->
     {{  Notificaciones.length }}
    </span>
    </a>
  <ul
    ngbDropdownMenu
    aria-labelledby="navbarNotificationDropdown"
    class="dropdown-menu dropdown-menu-media dropdown-menu-right"
  >
    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Notificaciones</h4>
        <div class="badge badge-pill badge-light-primary">
          <!-- {{ notifications.messages?.length + notifications.systemMessages?.length }} New -->
          {{  Notificaciones.length }} Nuevas
        </div>
      </div>
    </li>
    <!--/ Notifications header -->

    <!-- Notifications content -->
   <li class="scrollable-container media-list" [perfectScrollbar]>
      <!--  <a class="d-flex" href="javascript:void(0)" >
        <div class="media d-flex align-items-start">
          <div class="media-left">
            <div class="avatar">
              <img src="../../../../../assets/images/logos/fona.jpeg" alt="avatar" width="32" height="32" />
            </div>
          </div>
          <div class="media-body">
            <p class="media-heading" [innerHTML]="notifications"></p>
            <small class="notification-text">Pequiven</small>
            <small class="notification-text">G43957589</small>
          </div>
        </div></a
      > -->
      <!-- <div class="media d-flex align-items-center">
        <h6 class="font-weight-bolder mr-auto mb-0">System Notifications</h6>
        <div class="custom-control custom-control-primary custom-switch">
          <input
            class="custom-control-input"
            id="systemNotification"
            type="checkbox"
            [checked]="notifications.system"
          />
          <label class="custom-control-label" for="systemNotification"></label>
        </div>
      </div> -->

      <a class="d-flex" href="javascript:void(0)" *ngFor="let notification of Notificaciones">
        <div class="media d-flex align-items-start">
          <div class="media-left">
            <div
              class="avatar"
              ngClass="avatar bg-light-warning"
            >
              <div class="avatar-content"><i class="avatar-icon" data-feather="alert-circle"></i></div>
            </div>
          </div>
          <div class="media-body">
            <p class="media-heading" innerHTML="sdcmsdcdsoi">{{ notification.nombre_empresa }}
            </p>
            <small class="notification-text">{{ notification.rif }} | {{ notification.monto_pc }} | Ref# {{notification.referencia_bancaria}}</small>
          </div>
        </div>
      </a>
      
    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
    <li class="dropdown-menu-footer">
      <a class="btn btn-primary btn-block" *ngIf="StatusRole === 1" routerLink="/takings/list-payments">Todas las Notificaciones</a>
      <a class="btn btn-primary btn-block" *ngIf="StatusRole === 0" routerLink="/payments/payments-list">Mis Notificaciones</a>
    </li>
    <!--/ Notifications footer -->
  </ul>
</li>
