<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    COPYRIGHT &copy; {{ year }}
    <a class="ml-25" href="https://bunkertechsolutions.com/" target="_blank" title="Andrés R Rodrīguez Dúran">BUNKER TECHNOLOGIES SOLUTIONS C.A</a>
    <span class="d-none d-sm-inline-block">, All rights Reserved</span>
  </span>
  <span class="float-md-right d-none d-md-block">
    <strong><a href="https://www.ipostel.gob.ve" target="_blank" title="IPOSTEL">IPOSTEL</a></strong> INSTITUTO POSTAL TELEGRÁFICO DE VENEZUELA
  </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

<!-- Buynow Button-->
<div class="buy-now">
  <!-- <a href="#" target="_blank" class="btn btn-danger" 
    >Renovar Licencia</a
  > -->
</div>
